anyio
argcomplete
aptdaemon
asttokens
attrs
autocommand
babel
bcc
bcrypt
blinker
Brlapi
build
CacheControl
certifi
chardet
cleo
click
comm
command-not-found
configobj
crashtest
cryptography
cupshelpers
dasbus
dbus-python
debugpy
decorator
defer
distlib
distro
distro-info
dulwich
executing
fastjsonschema
filelock
findpython
GDAL
gyp-next
h11
httpcore
httplib2
httpx
idna
inflect
installer
ipykernel
ipython
ipython_pygments_lexers
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
linkify-it-py
louis
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
more-itertools
msgpack
nest-asyncio
netaddr
netifaces
numpy
oauthlib
olefile
packaging
parso
passlib
pbs-installer
pexpect
pillow
pip
pipx
pkginfo
platformdirs
poetry
poetry-core
prompt_toolkit
psutil
ptyprocess
pure_eval
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyproject_hooks
pyserial
python-apt
python-dateutil
python-debian
pyxdg
PyYAML
pyzmq
RapidFuzz
referencing
requests
requests-toolbelt
rich
rpds-py
SecretStorage
setproctitle
shellingham
six
sniffio
speedtest-cli
stack-data
systemd-python
tomlkit
tornado
traitlets
trove-classifiers
typeguard
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
uc-micro-py
ufw
unattended-upgrades
urllib3
userpath
virtualenv
wadllib
wcwidth
wheel
xdg
xkit
zstandard